h2{
    text-transform: capitalize;
    margin:20px 20px;
    align-items: center;
    justify-content: center;
}
#container{
    margin:100px auto;
    padding: 100px;
    border-color:solid black;
    border-style:double;
    background-color: rgba(228, 146, 24, 0.705);
    width: 400px;
align-items: center;
justify-content: center;
}
select{
padding:10px 50px ;
border-radius: 8px; 
margin:20px 50px  10px;
font-family:Arial, Helvetica, sans-serif;
}


button{
    border-radius: 8px;
    padding:8px;
    margin:10px 70px; 
    text-decoration: solid;
    display: block;
}
body{
    background-color: rgba(247, 247, 26, 0.788);
}
#result{
    color:brown;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
}